@import normalize

*
	box-sizing: border-box

body
	font-family: 'EB Garamond', serif 
	color: #555
	margin-top: 5em
	text-align: left

h1
	span
		color: #888
		font-size: .6em

.main
	width: 100% 
	max-width: 37em 
	padding: 1em
	margin: 0 auto
	font-size: 1.2em

footer
	@extend .main
	color: #888

.alt, a
	color: #e65454


